*{
    font-family: 'Crimson', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
}
html
{
    overflow-x:hidden ;
    font-size: 60.5%;
}