input
{
    background-color: rgba(255,255,255, 0);
    color: white;
    border-bottom: 3px solid white;
    border-top: 0;
    border-left: 0;
    border-right: none;

}
::placeholder
{
    color: white;
    font-weight: bolder;
    font-size: 2rem;
}
textarea
{
  background-color: rgba(255,255,255, 0);
  color: white;
  border-bottom: 3px solid white;
  border-top: 0;
  border-left: 0;
  font-size: 2rem;
  border-right: none;
    margin: 3vh;
    margin-left: 0vh;
}
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    margin-right: 3vh;
    margin-top: 6px; /* Add a top margin */
    font-size: 2rem;
    margin-bottom: 16pbax; /* Bottom margin */
    margin-left: 0vh;
    
  }
  input[type=email], select, textarea {
    width: 100%; 
    padding: 12px; 
    margin-left: 3vh;
    font-size: 2rem;
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16pbax; /* Bottom margin */
  
  }
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #F7BB26;
    color: white;
    font-size: 3vh;
    font-weight: bolder;
    width: 100vh;
    margin: 3vh;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .containerr {
    border-radius: 5px;
   width: -webkit-fill-available;
   margin: 3vh;
   margin-top: 10vh;
  }
  .submit
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imagess
  {
    display: flex;
    justify-content: center;
   
  }
  .i
  {
    margin: 3rem;
  }
  .i img
  {
    width: 60px;
    height: 60px;

  }
  #e
  {
    color: white;
    text-align: center;
  }
  .te
  {
    display: flex;
    margin: 3vh;
  }
.sub
{
  margin: 3vh;
}