@import url('https://fonts.googleapis.com/css2?family=Crimson" ');
 
*{
    font-family: 'Crimson', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
}
html
{
    overflow-x:hidden ;
    font-size: 60.5%;
}

  
  /* header */
  
  .header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  
  .header li a {
    display: block;
    border-right: 1px solid #f4f4f4;
    color: darkgreen;
    text-decoration: none;
    font-size: 2.5rem;
  }
  .header li a img {
    display: block;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }
  
  .header .logo {
    width: 5rem;
  font-size: 2em;
  text-decoration: none;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 1px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  @media screen and (min-device-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding-left: 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }
/*.bdy
{
    width: 100%;
    height: 50rem;
    display: grid;
    place-items: center;
}
.sliderrr
{
    width: 100%;
    height: 50rem;
    animation: chanimg 20s linear infinite;
}
@keyframes chanimg {

    
} */


#navbar1
{
    background-image: url("2.jpg");
    width: fit-content;

    background-size: cover;
    font-size: 3rem;
    color: white;
    font-weight: bolder;
 
}


.container1
{
    background-color: darkgreen;
    padding-top: 9rem;
    display: flex;
    justify-content: center;
}
.display
{
    display: flex;
    justify-content: space-between;
 
}

#h11
{
    text-shadow: 20px ;
    font-size: 10rem;
    text-align: center;
    color: white;
}
#h12
{
    text-align: center;
    font-size: 4.5rem;
   
    color: white;
}
#h13
{
    font-size: 2.5rem;
    width: 80rem;
    color: white;
    text-align: center;

}
#h14
{
    font-size: 3rem;
    text-align: center;
    background-color: orange;
    color: white;
    border-radius: 5rem;

}
.container3
{
    display: flex;
    padding-top: 5rem;
}
.container4
{
    padding-left: 2rem;
}
#h21
{
    font-size: 10rem;
    color: darkgreen;
    text-align: center;
}
#h22
{
    font-size: 7.5rem;
    color: gray;
    text-align: center;
}
#h23
{
    font-size: 4.3rem;
    background-color: orangered;
    box-sizing: border-box;
    text-align: center;
    color: white;
    border-radius: 4rem;
}
#img5
{
    height: 35rem;
}
.container5
{
    padding-left: 6rem;
    padding-top: 4rem;
    padding-right: 3rem;
}

.container6
{
    display: flex;
}
.container7
{
    padding-top: 1.5rem;
}
#h41
{
    padding-top: 7rem;
    font-size: 9.5rem;
    text-align: center;
    color: darkgreen;
}
.container8
{
    display: flex;
    padding-top: 8rem;
  
    justify-content: center;
}

/*.container9
{
    background-image: url("7.jpg");
    background-repeat: no-repeat;
    width: 240px;
    height: 240px;
    
    background-size: cover;
    padding: 10rem;
    
}*/
.con1{
    padding-top: 15rem;
}
.con2{
    display: flex;
  
    justify-content: center;
    background-image: url("8.jpg");
    background-repeat: no-repeat;
    height: 50rem;
    background-size: cover;
}

.con3
{
    
    background-image: url("9.jpg");
    background-repeat: no-repeat;
    color: white;
    margin: 6rem;
    height: 28rem;
    padding: 5rem;
 
    
    background-size: cover;
}
#h51
{
    font-size: 6rem;
    text-align: center;
    font-weight: bolder;
}
#h52
{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 900;
}
#h44
{
    padding: 3.5rem;
    text-align: center;
}
.con4
{
    padding-top: 3rem;
}
.con5
{
    display: flex;
    
    
}
.con6
{
    background-color: none;
    margin: 1rem;
    animation-name: a1;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
.con61
{
    background-color: orangered;
    margin: 3rem;
    width: 23rem;
    height: 15rem;
    color: white;
    font-size: 4rem;
    text-align: center;
    font-weight: bolder;
    animation-name: a1;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    
}
@keyframes a1 
{
    from
    {
        width: 0rem;
    }
    to
    {
        width: 30rem;
    }
}
.con62
{
    background-color: orangered;
    margin: 3rem;
    width: 23rem;
    height: 15rem;
    color: white;
    font-size: 4rem;
    text-align: center;
    font-weight: bolder;
    animation-name: a2;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
@keyframes a2
{
    from
    {
        height: 0rem;
    }
    to
    {
        height: 15rem;
    }
}
.con7
{
    display: flex;
    
    margin-left: 40rem;
    
}
.con8
{
    display: flex;
    margin: 5rem;
    justify-content: center;
    flex-wrap: wrap;
}


.con9{
   
    background-image: url("10.jpg");
    margin: 3rem;
    width: 33rem;
    height: 22rem;
   background-size: cover;
   
}
.overlay
{
    position: absolute;
    opacity: 0;
 
    background: orangered;
    width: 33rem;
    height: 0;
    
    cursor: pointer;
    border-top-left-radius:6.2rem ;
}
.content
{
    text-align: center;
    display: block;
    color: white;
    top: 5rem;
}
.con9:hover .overlay
{
    opacity: 1;
    height: 22rem;
    animation-name: a4;
    animation-duration: 0.45s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    transition: 0.5s ease;
    
}
@keyframes a4 
{
    0%
    {
        transform: translateY(190px);
        opacity: 0;
    }
    50%
    {
        opacity: 0.5;
    }
    100%
    {
        transform: translateY(0px);
        opacity: 1;
    }
    
}
@keyframes a3
{
    from
    {
        height: 0rem;
    }
    to
    {
        height: 22rem;
    }
}
#h61
{
    font-size: 4rem;
    font-weight: bolder;
    padding: 1rem;
}
.c
{

        margin: 0;
        background: #EEE;
        user-select: none;
        font-family: sans-serif;
    
}
#slider {
    position: relative;
    width: 50%;
    height: 32vw;justify-content: center;
    margin: 150px auto;
    font-family: 'Helvetica Neue', sans-serif;
    perspective: 1400px;
    transform-style: preserve-3d;
  }

  input[type=radio] {
    position: relative;
    top: 108%;
    left: 50%;
    width: 18px;
    height: 18px;
    margin: 0 15px 0 0;
    opacity: 0.4;
    transform: translateX(-83px);
    cursor: pointer;
  }
  
  
  input[type=radio]:nth-child(5) {
    margin-right: 0px;
  }
  
  input[type=radio]:checked {
    opacity: 1;
  }
  #slider label,
#slider label img {
  position: absolute;
  width: 100%;
  height: 100%; 
  left: 0;
  top: 0;
  color: white;
  font-size: 70px;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 400ms ease;
}

#s1:checked ~ #slide1,
 #s2:checked ~ #slide2,
  #s3:checked ~ #slide3,
   #s4:checked ~ #slide4,
    #s5:checked ~ #slide5 {
  box-shadow: 0 13px 26px rgba(0,0,0, 0.3), 0 12px 6px rgba(0,0,0, 0.2);
  transform: translate3d(0%, 0, 0px);
}
#s1:checked ~ #slide2,
 #s2:checked ~ #slide3,
  #s3:checked ~ #slide4,
   #s4:checked ~ #slide5,
    #s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
  transform: translate3d(20%, 0, -100px);
}
#s1:checked ~ #slide3,
 #s2:checked ~ #slide4,
  #s3:checked ~ #slide5,
   #s4:checked ~ #slide1,
    #s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
  transform: translate3d(40%, 0, -250px);
}
#s1:checked ~ #slide5,
 #s2:checked ~ #slide1,
  #s3:checked ~ #slide2,
   #s4:checked ~ #slide3,
    #s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
  transform: translate3d(-20%, 0, -100px);
}
#s1:checked ~ #slide4,
 #s2:checked ~ #slide5,
  #s3:checked ~ #slide1,
   #s4:checked ~ #slide2,
    #s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
  transform: translate3d(-40%, 0, -250px);
}

