
@media only screen  and (max-device-width:480px) 
{
    body
    {
        font-size: 20%;
        width:480px;
        
    }
    .con8
    {
        display:table;
    }
    .container8
    {
        display: table;
    }
    .container3
    {
        display: table;
    }
    
    .con5
    {
        display:table;
    }
    .con7
    {
        display:table;
        margin-left: 0;
    }
    .lmenu
    {
        display: initial;
    }
}