@media only screen  and (min-device-width:768px) 
{
    .container10
    {
        display: flex;
    }
    .container2
{
    margin-top: 5rem;
    margin-left: 15rem;
    justify-content: center;
}
.break {
    flex-basis: 100%;
    width: 0;
  }
  .header .logo img
  {
    width: 20rem;
  }
}
@media only screen  and (max-device-width:480px) 
{
    html
    {
        font-size: 17%;
    }
    .con8
    {
        display:flex;
    }
    .header .logo img
  {
    width: 50rem;
  }
    #h41
{
    text-align: center;
    color: darkgreen;
}
    .container8
    {
        display:flex;
        justify-content: center;
    }
    
    .container3
    {
        display: table;
        justify-content: center;
    }
    .container3 img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .con4
    {
        display: flex;
    }
    .con5
    {
        display:table;
        
    }
    .con5 img 
    {
        width: 40rem;
    }
    .con7
    {
        display:table;
        margin-left: 40%;
    }
    .con7 img 
    {
        width: 40rem;
    }
    
    .lmenu
    {
        display: initial;
    }
    .container1
    {
        padding-top: 20rem;
        display: grid;
        padding-bottom: 10rem;
    }
    .container1 img 
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
    .container2
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    #h13
{
    font-size: 2.5rem;
    width: 90rem;
    color: white;
    text-align: center;

}
    .container6 img
    {
        width: 15rem;
        height: 15rem;
    }
    .container9 img
    {
        width: 40rem;
        height: 40rem;
    }
    .tt1 h1
    {
        font-size: 7rem;
    }
    .tt1 h2
    {
        font-size: 4rem;
    }
    .mm1
    {
        margin: 3vh;
    }
    .mm1 img
    {
        width: 15rem;
        height: 15rem;
    }
    .comma img
    {
        width: 12rem;
        height: 12rem;
    }
    .comma2
    {
        height: 35vh;
    }
    .comma2 img
    {
        width: 12rem;
        height: 12rem;
    }
    .b1
    {
        display: table;
        height: 20%;
    }
    .vertical
    {
        display: none;
    }
    #t11
{
    font-size: 2.5rem ;
    font-weight: bolder;
    text-align: center;
    width: 100%;
    padding: 4rem;

}
    .split
{
    height: 30vh;
    background: linear-gradient(
        to bottom,
        white 0%,
        white 50%,
        darkgreen 50%,
        darkgreen 100%
    );
    display: flex;
    justify-content: center;
}
input[type=submit] {
    background-color: orangered;
    color: white;
    font-size: 3vh;
    margin: 1.5vh;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
  }
  .break1 {
    flex-basis: 100%;
    width: 0;
  }
  .overlay
{
    position: absolute;
    opacity: 0;
 
    background: orangered;
    width: 33rem;
    height: 0;
    
    cursor: pointer;
    border-top-left-radius:6.2rem ;
}

@keyframes a4 
{
    0%
    {
        transform: translateY(73px);
        opacity: 0;
    }
    50%
    {
        opacity: 0.5;
    }
    100%
    {
        transform: translateY(0px);
        opacity: 1;
    }
    
}
}