
    
    /* Styling the area of the slides */
    #slideshow {
    overflow: hidden;
    
    margin: 0 auto;
    }
    
    /* Style each of the sides
    with a fixed width and height */
 
    
    /* Add animation to the slides */
    .s {
    
    /* Calculate the total width on the
    basis of number of slides */
    width: calc(100% * 5);
    
    /* Specify the animation with the
    duration and speed */
    animation: slide 10s ease infinite;
    }
    
   
    
    /* Define the animation
    for the slideshow */
    @keyframes slide {
    
    /* Calculate the margin-left for
    each of the slides */
    20% {
        margin-left: 0px;
    }
    
    40% {
        margin-left: calc(100% * 1);
    }
    
    60% {
        margin-left: calc(100% * 2);
    }
    
    80% {
        margin-left: calc(100% * 3);
    }
    100% {
        margin-left: calc(100% * 4);
    }
    }
    